<style>
  .edu-view img
  {
    width: 100%;
    height: 100%;
  }
</style>

<div class='edu-view' ng-click='eduCT.back()'>
  
  <svg-cancel></svg-cancel>
  <h2>Web Developer</h2>
  
  <div class='display'>
    <div class='image'>
      <img src='app/resources/linkare.png'>
    </div>
    <a href='https://www.linkedin.com/company/232167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A232167%2Cidx%3A2-1-2%2CtarId%3A1484406928986%2Ctas%3Alinkare%20TI'><div class='view'>@ Linkare</div></a>
  </div>

</div>