<div id='slider' ng-controller='SliderController as sliderCT' ng-init='sliderCT.slideTo()'>
  
  <div class='glyphicon glyphicon-th' ng-click='sliderCT.back()'></div>
  <div class='glyphicon glyphicon-chevron-left' ng-click='sliderCT.slideLeft()' ng-hide='sliderCT.slide === 0'></div>
  <div class='glyphicon glyphicon-chevron-right' ng-click='sliderCT.slideRight()' ng-hide='sliderCT.slide === 8'></div>
  
  <div id='wraper'>
  
    <div class='slide'>
      <h1>Java</h1>
      <p><b>Java</b> is an Object Oriented type language developed by <b>Sun Microsystems.</b> It was created in 1995, designed to run independently of the plataform it was developed in and runned at. This is achieved by pre-compiling the source code into <i>bytecode</i>, providing another level of security against intelectual theft and allowing abstraction from computer architecture, since the <b>JVM</b>( Java Virtual Machine ), will thereafter interpret the <i>bytecode</i> and convert it into machine code specific to that machine.</p>
      <p>Due to this, <b>Java</b> has gained a lot of traction and it is currelty used in a variety of projects, from simple aplications to operating systems. It's mainstream use generated lots of documentation along with tools that augment it's grasp, allowing <b>Java</b> to be compatabile with a huge number of tecnologies.</p>
    </div>
    
    <div class='slide'>
      <h1>Html 5</h1>
      <p><b>HyperText Markup Language</b> is the standart markup language for web pages and web aplications. It's place in the modern world of the web is irrefutable, forming a corner stone for the industry. It can be said that any companie today will have to interact with this tecnology somehow, if it is to explore the online market.</p>
      <p>Having extensive documentation and support online, many tecnologies have adapted to somehow interact with it and even disregard some functionalities, replacing them with <b>Html</b> templates.</p>
      <p>Html is a solid tecnology to know about and it will stay in the top programing languages for a long time to come.</p>
    </div>
    
    <div class='slide'>
      <h1>Css 3</h1>
      <p>Combined with <b>Html</b>, <b>Cascading Style Sheet</b> provides the web with asteticaly pleasing content. It allows the styling of all <b>Html</b> elements, coding their presentation and layout, along with responsive web design for all devices.</p>
      <p>Today Css can be obtained with many pre-written libraries, setting <b>Twitter's</b> <a href='http://getbootstrap.com'>Bootstrap</a> as one of the major examples, along with online error documentation and support.</p>
      <p>Projected by the <b>World Wide Web</b> dependency, the spread of mobile devices and cost reduction on personal computeres and laptops have made this tecnology key to user experience, making it essensial for any company looking to enter the online market provided by modern comunication devices.</p>
    </div>
    
    <div class='slide'>
      <h1>Javascript</h1>
      <p><b>Javascript</b> is a phenomenon of current times. Created as a small language to be ran on the browser as a sidekick to <b>Java</b>, its slick sintax and genius implementation quickly propeled it to one of the most used programing language of current times.</p>
      <p><b>Javascript</b> has become the first <i>lambda</i> language to go mainstream, as milions of developers have learned to embrace the concept of dynamic types, closure, prototypical inheritance and first-class functions, allowing for a new level of expression, in a beautifull, simple, non-verbose way.</p>
      <p>Today, there are dozens of libraries and frameworks developed arround <b>Javascript</b> that, by themselves, have already left their mark in software development.</p>
    </div>
    
    <div class='slide'>
      <h1>AngularJs</h1>
      <p><b>Angular Js</b> is one of the many frameworks that derived from the <b>Javascript</b> explosion in the last couple of years. By combining a set of libraries into a single aplication, it provides a multitude of functionality on top of <b>Html</b> content, making the development of single web applications easier to code, organize and deploy.</p>
      <p>A newer version of this framework is currently <a href='https://www.youtube.com/watch?v=EwYD_xqB7Qs&t=925s'>live.</a> <b>Angular 2</b> has grown outside the spectrum of the browser, following the trend of <b>Javascript</b>, and now reaches back-end and desktop functionality.</p>
      <p>Given the time necessary for the industry of software to adjust to new tools, <b>AngularJs</b> will still be arround for a good amount of years to come allowing the migration process to take place.</p>
    </div>
    
    <div class='slide'>
      <h1>MySQL</h1>
      <p>Developed by <a href='https://www.oracle.com/index.html'>Oracle</a>, it is a <i>Relational Database Managment System</i>, distributed freely and open source. It is an amazing tool to store in a persistent, compact and consistent form, huge amounts of data.</p>
      <p>Due to it's open-source nature and quality, it is a great solution for many systems that require data storage and consumption, as most companies do for inventory and client managment, without implying an increased overhead cost on the company.</p>
      <p>It provies an exelent plataform for database design with logical schemas along side good compatibility with other tecnologies, a good engine and account managment for system security.</p>
    </div>
    
    <div class='slide'>
      <h1>UML</h1>
      <p><b>Unified Modeling Language</b> dates back to before 1990, where it was proposed as a method for software engineers to describe a project through graphical documentation.</p>
      <p>Although the problem of translating software architecture in a clear conscise way in order to facilitate the development of said project is a problem that has persisted throughout the history of software engineering, the fact that this modeling language hasn't gained a spot in many companies proves still that the industry of software development has a long way to go before it reaches the maturity of other fields such as architecture or automobile.</p>
    </div>
    
    <div class='slide'>
      <h1>C Language</h1>
      <p>This <b>imperative</b> programing language, combined with <b>C++</b>, is one of the most used low level languages. <b>C</b> allows programers access to memory control with a low level of abstraction from hardware.</p>
      <p>Despite its replacement by languages with a higher level of abstraction, <b>C</b>'s sintax has been imitated numerous times, as well as some of its features. This makes the language relevant to this day, as it provides insite on how to write clean and efficient code.</p>
      <p><b>C</b> has been used to contruct other languages, engines and operating systems, and it continues to be the go to language when dealing with the lack of processing power or hardware interactivity.</p>
    </div>
    
    <div class='slide'>
      <h1>Other Tools</h1>
      <h2>Operating Systems</h2>
      <p>Linux</p>
      <p>Mac OS</p>
      <p>Windows</p>
      <h2>Programing Languages</h2>
      <p>C#</p>
      <p>C++</p>
    </div>
  
  </div>

</div>