<div class='lang'>

<header>English</header>

  <h1>Speaking</h1>
  <div class='progress'>
    <div class='bar' style='width: 90%;'></div>
  </div>
  <h2>Yes</h2>

  <h1>Listening</h1>
  <div class='progress'>
    <div class='bar' style='width: 92%;'></div>
  </div>
  <h2>Yes</h2>

  <h1>Writting</h1>
  <div class='progress'>
    <div class='bar' style='width: 70%;'></div>
  </div>
  <h2>With ease</h2>

  <h1>Reading</h1>
  <div class='progress'>
    <div class='bar' style='width: 91%;'></div>
  </div>
  <h2>Yes</h2>
  
</div>