<div class='lang'>

<header>Spanish</header>

  <h1>Speaking</h1>
  <div class='progress'>
    <div class='bar' style='width: 55%;'></div>
  </div>
  <h2>Average</h2>

  <h1>Listening</h1>
  <div class='progress'>
    <div class='bar' style='width: 69%;'></div>
  </div>
  <h2>With ease</h2>

  <h1>Writting</h1>
  <div class='progress'>
    <div class='bar' style='width: 22%;'></div>
  </div>
  <h2>With difficulty</h2>

  <h1>Reading</h1>
  <div class='progress'>
    <div class='bar' style='width: 28%;'></div>
  </div>
  <h2>With difficulty</h2>
  
</div>