<div class='lang'>

<header>French</header>

  <h1>Speaking</h1>
  <div class='progress'>
    <div class='bar' style='width: 10%;'></div>
  </div>
  <h2>With great difficulty</h2>

  <h1>Listening</h1>
  <div class='progress'>
    <div class='bar' style='width: 20%;'></div>
  </div>
  <h2>With difficulty</h2>

  <h1>Writting</h1>
  <div class='progress'>
    <div class='bar' style='width: 2%;'></div>
  </div>
  <h2>No</h2>

  <h1>Reading</h1>
  <div class='progress'>
    <div class='bar' style='width: 17%;'></div>
  </div>
  <h2>With great difficulty</h2>
  
</div>