<div class='lang'>

<header>Portuguese</header>

  <h1>Speaking</h1>
  <div class='progress'>
    <div class='bar' style='width: 100%;'></div>
  </div>
  <h2>Yes</h2>

  <h1>Listening</h1>
  <div class='progress'>
    <div class='bar' style='width: 100%;'></div>
  </div>
  <h2>Yes</h2>

  <h1>Writting</h1>
  <div class='progress'>
    <div class='bar' style='width: 95%;'></div>
  </div>
  <h2>Yes</h2>

  <h1>Reading</h1>
  <div class='progress'>
    <div class='bar' style='width: 98%;'></div>
  </div>
  <h2>Yes</h2>
  
</div>